<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @iteration.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @iteration.end_date %>
</p>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= button_to "generate_matches", { :controller => 'iterations' },
  :method => :put %>

      <button type="submit" class="btn btn-danger">SPIN THAT WHEEL</button>
    </div>
  </div>
</div>
